<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Epex Spot Data</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>EPEX Spot Data</h1>
        <ul>
            <% files.forEach(function(file) { %>
            <li><a href="<%= file.substr(file.indexOf('public/data') + 7) %>"><%= file.substr(file.indexOf('public/data') + 12) %></a></li>
            <% }); %>
        </ul>
    </body>
</html>
